/* TABLAS */

.table {
  width: 95%;
  /* max-width: 95%; */
  border-top: 2px solid;
  margin-top: 2rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: lighter;
  text-align: left;
  } 
  
  .table-responsive{
    max-width: fit-content;
  }
.table thead{
  border-bottom: 1px solid;
}
.table tbody tr:last-child{
    border-bottom: 2px solid;
  }
  
.center{
  margin-left: auto;
  margin-right: auto;
}

  /* td {
  padding: 8px;
  text-align: center;
  vertical-align: top;
  } */
  
  /* th[scope=col]{
  padding: 8px;
  vertical-align: top;
  border-bottom: 1px solid #000; /* Línea inferior en la cabecera */
  /* font-weight: bold; */
  /* text-align: center; */
  /* } */
  
  /* th[scope=row]{
  padding: 8px;
  vertical-align: top;
  font-weight: bold;
  text-align: left;
  } */
  
   /* tr:last-child td, tr:last-child th { */
  /* border-bottom: 1px solid #000; Línea superior en el cuerpo de la tabla */
  /* }  */
  
  
  /* tr.header{
  text-align: center;
  } */
  
  /* .tabla-texto td{
  text-align: left; */
  /* text-indent: -1.5rem;
  padding-left: 1.5rem; */
  /* border-right: 1px solid; */
  /* } */